#h1-id { /*selector de especificidad 1,0,0*/
    color: darksalmon;
}

.h1-clase { /*selector de especificidad 0,1,0*/
    color: yellow;
}


h1 { /*selector de especificidad 0,0,1*/
    color: blue;
}


p {
    color: red;
}